.page {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 48px 96px 0 96px;
    background-color: #F9F9F9;
    box-sizing: border-box;
    margin: 0 auto 0;
    overflow: hidden;
}

span {
    color: #5C4EAE
}

@media screen and (max-width: 1250px) {
    .page {
        padding: 24px 69px 0 69px;
    }
}