.footer__link {
    margin-right: 69px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 17.83px;
    line-height: 26.74px;
    color: #999999;
    text-decoration: none;
}

.footer__link:last-of-type {
    margin-right: 0px;
}