.mobile__btn {
    background-color: #6C5FBC;
    color: #FFFFFF;
    border: none;
    width: 186px;
    height: 63px;
    border-radius: 14.68px;
    font-family: 'Poppins Medium', 'Arial', sans-serif;
    font-size: 18.06px;
    line-height: 22.58px;
    position: relative;
    padding-right: 53px;
    margin-top: 38px;
}