.intro__subtitle {
    margin:0 0 18px 76px;
    font-family: 'Poppins SemiBold', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 18px;
    color:#201F1F;
    opacity: 0.2;
    letter-spacing: 2px;
}