.header__auth {
    width: 102.49px;
    height: 62.66px;
    border: none;
    border-radius: 17.83px;
    background-color: transparent;
    font-weight: 700;
    color: 
    #606060
    ;
}

.header__auth:last-of-type {
    color: #F9F9F9;
    width: 121.49px;
    background-color: #6C5FBC;
}