.feedback__box {
    max-width: 528px;
    margin: 0 46px 0;
    background-color: #FFFFFF;
    border-radius: 20.12px;
    padding-top: 38px;
    margin-bottom: 217px;
    height: 200px;
}

.feedback__box:first-of-type {
    position: relative;
    height: 310px;
    margin: 0;
}
.feedback__box:last-of-type {
    margin: 0;
}
.feedback__box:first-child {
    margin-bottom: 40px;
}