.coupon__btn {
    width: 132.37px;
    height: 53.44px;
    border-radius: 11.25px;
    background-color: #6C5FBC;
    border: none;
    font-family: 'Poppins Medium', 'Arial', sans-serif;
    font-size: 14.75px;
    line-height: 22.13px;
    color: #F7F8FA;
    margin-right: 6.35px;
    letter-spacing: 0.5px;
}