.coupon__input {
  font-family: 'Poppins Regular', 'Arial', sans-serif;
  font-size: 16.27px;
  line-height: 24.4px;
    border: none;
    background-color: #FFFFFF;
    margin-left: 25px;
    color: #878787;
    max-width: 250px;
    width: 100%;
    letter-spacing: 1px;
}