.intro__background_little {
    width: 328.7px;
    height: 89.5px;
    top: 31px;
    right: 44.48px;
    bottom: auto;
    left: auto;
    box-shadow: -9.84px 12.3px 20.51px rgba(1, 1, 1, 0.15);
    display: flex;
    justify-content: space-between;
    padding: 4.07px 25.24px 3.27px 15.24px;
    box-sizing: border-box;
    align-items: end;
    font-family: 'Poppins Medium', 'Arial', sans-serif;
    font-size: 10.66px;
    line-height: 14.93px;
    color: #ACADB9;
}