.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 103.12px;
    list-style: none;
    color: #606060;
    padding: 0;
}