.purchases__expense-movement {
    margin: 4px 0 0 20px;
    color: #A0AEC0;
    font-family: 'Manrope Regular', 'Arial', sans-serif;
    font-size: 15.71px;
    line-height: 23.56px;
    letter-spacing: 0.8px;

}