.purchases__progress-bar {
    background-color: rgb(108, 95, 188, 0.2);
    width: 408.35px;
    height: 9.42px;
    border-radius: 78.53px;
    position: relative;
    z-index: 1;
    margin: 0 0 21px 25.13px;
}