
.stats__box {
   width: 33%;
}

/* .stats__box:first-of-type {
   margin-left: -2px;
    border-right: rgb(197, 197, 197, 0.15) 1px solid;
}

.stats__box:last-of-type {
    border-left: rgb(197, 197, 197, 0.15) 1px solid;
} */