.purchases__expense-title {
    margin: 0 0 0 20px;
    font-family: 'Manrope ExtraBold', 'Arial', sans-serif;
    color: #1A202C;
    font-size: 18.85px;
    line-height: 28.27px;
    letter-spacing: 0.6px;
}